.profileWrapper {
  padding: 20px;
}

.playersContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.budget {
  font-size: 20px;
  margin: 20px 0;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teamName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.editIcon{
    cursor: pointer;
}
