.wrapper {
  width: 100%;
  background-color: var(--primary-blue);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.option,
.selected {
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.container div:hover {
  background-color: white;
  color: var(--primary-blue);
}

.selected {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}
